<!-- About Page-->

<div class="main-parent">
    <div class="aboutus">
        <div class="left">
            <h1>About Us</h1>
            <p>MARS offers an extensive range of services catering to diverse hair care needs. These services span from basic haircuts to premium hair care treatments. Additionally, it is important to note that specific services are exclusively available on certain branches, given that each subcategory caters to specific clientele. This system of offerings ensures that the clients will receive specialized services and care based on their preferences, needs, and requirements. </p>
            <p>MARS Group of Salons operates across Metro Manila, with seven branches nationwide. The core business process at MARS revolves around providing quality hair care services to its diverse clientele, with salon services such as basic hair cuts, creative cutting and styling, color treatments, rebonding, perming, blowouts, treatments, advisory, and consultations. MARS takes pride in its team of professional stylists who undergo continuous and rigorous training both nationally and internationally. The details above ensure that clients receive the latest trends, personalized advice, and exceptional service from the MARS team.</p>
            <p>The company’s mission statement is to provide an enhanced customer experience. They achieve this through competitive pricing, high-quality products, and exceptional services. Additionally, MARS focuses on educating clients about their hair care needs and processes, ensuring a client-centric approach to deliver exceptional customer service across their branches. Their commitment to professionalism and customer satisfaction sets them apart in the industry.</p>
        </div>

        <div class="right">
            <img class="aboutus-img" alt="" src="/assets/aboutus.png" />
        </div>  
    </div>
    
    <div class="mission-vision-history">
        <div class="left">
            <h1>Our Mission</h1>
            <div class="mission">
                <p>We provide an enhanced customer experience, competitive pricing for high quality products and services. Also, we provide education to our clients regarding their hair care needs.</p>
                <img class="img-mobile" alt="" src="/assets/mission.png" />
                <br>
            </div>
            <h1>Our Vision</h1>
            <div class="vision">
                <p>Transparency, Integrity, Respect, Excellence, Stretch Thinking, Welcoming, and Great At What We Do.</p>
                <img class="img-mobile" alt="" src="/assets/vision.png" />
                <br>
            </div>
            <h1>Our History</h1>
            <div class="history">
                <p>Established on April 2013. Our roots came from a small town in the city of Muntinlupa, Metro Manila. Also, we have began from a 3-seater salon and over the years we have expanded our team in a few more locations with knowledge gained and expertise through various professional training and consistency. And finally, our team’s expertise ranges from salon management, customer experience and services, market trends, and hair innovation technicalities, among others.</p>
                <img class="img-mobile" alt="" src="/assets/history.png" />
                <br>
            </div>
        </div>
        <div class="right">
            <img class="img1" alt="" src="/assets/mission.png" />
            <img class="img2" alt="" src="/assets/vision.png" />
            <img class="img3" alt="" src="/assets/history.png" />
        </div>
    </div>

    <div class="industry">
        <div class="left">
            <img src="/assets/industry.png">
        </div>
        <div class="right">
            <h1>Our Industry Expertise</h1> <br>
            <p>Our team has over 25+ years of salon industry experience and we pride ourselves in continuous learning. Our technical training and skills are comprised of training through Vidal Sassoon Academy London, United Kingdom, Toni & Guy Singapore, and Toni & Guy Malaysia, Milbon Japan/Philippines, and Guthrie-Jensen, Also, we take local training through L’Oreal Academy Philippines, Matrix Philippines, and Elgon Philippines.</p>
            <br><p>In addition, we take pride of what we do and we never stop learning. Finally, our mission is to continue to grow, provide our services, and expertise to the broader target demographics and market areas.</p>
            </div>
    </div>

    <div class="future">
        <div class="left">
            <h1>And We Are Not Done Yet!</h1> <br>
            <p>We are expanding our business capabilities. And, every year we continually grow and learn. We never stop learning and sharing the knowledge gained throughout our team members.</p>
            <br><P>A free hair consultation is available. Please visit us any time before 7:00pm. Also, we are open seven days week. You can also send a private message from our facebook or instagram account. Also, please note that all quotes provided to you are for estimation purposes only. An in-person hair assessment is required before the work is guaranteed. We will provide you with the actual cost after the assessment so that you can decide from thereon.</P>
        </div>
        <div class="right">
             <img src="/assets/future.png">
        </div>
    </div>
</div>

<!-- End of About Page-->
