<!-- Admin Landing Page -->

<div class="adminlanding-container">
  <div class="adminlanding-wrapper">
    <main class="adminlanding-content">
      <img src="assets/adminlandingbg.png" alt="Hero Image" class="hero-image" />
    </main>
  </div>
</div>

<!-- Welcome Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Welcome, {{user.username}}!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--End of Admin Landing Page -->