<!-- Login Page -->

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Login Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{errorMessage}}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!--successful register-->
 {{#if successMessage}}
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Registration Success</h5>
                </div>
                <div class="modal-body">
                    {{successMessage}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

<div class="div">
    <div class="div-1">
        <div class="LoginContainer">
          <div class="login-header">Login</div>
            <form class="user-info" action="/login" method="POST">
                <div class="div-15">Username</div>
                  <div class="username-content">
                      <img loading="lazy" src="/assets/usernameicon.svg" class="img-4" />
                      <input type="text" name="username" placeholder="Type your username" class="input" required />
                  </div>
                  <div class="div-18"></div>
                  <div class="div-19">Password</div>
                  <div class="password-content">
                      <img loading="lazy" src="/assets/Passwordicon.svg" class="img-5" />
                      <input type="password" name="password" placeholder="Type your password" class="input" required />
                  </div>
                <div class="div-22"></div>
                <button type="submit" class="div-23">Login</button>
            </form>
          <div class="signup">
              <p>Don’t have an account?</p>
              <a href="/signup">Sign Up</a>
          </div>
        </div>
  </div>
</div>

 <!-- End of Login Page -->

