<!-- Newsletter Page -->

<div class="newsletter-container">
  <div class="newsletter-content">
    <h2 class="newsletter-title">Subscribe to Our Newsletter!</h2>
    <p class="newsletter-description">
      Subscribe to our Newsletter mailing list to get information to your inbox <br>
      regarding our promotional packages and events near you.
    </p>
    <form class="newsletter-form" id="newsletterForm" action="/submit-form" method="POST">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" name="email" class="form-input" required>

      <label for="firstName" class="form-label">First Name:</label>
      <input type="text" id="firstName" name="firstName" class="form-input" required>

      <label for="lastName" class="form-label">Last Name:</label>
      <input type="text" id="lastName" name="lastName" class="form-input" required>

      <label for="city" class="form-label">City:</label>
      <input type="text" id="city" name="city" class="form-input" required>

      <button type="submit" class="submit-button">SUBSCRIBE</button>
    </form>
  </div>
</div>

<!-- Modal -->
<!-- Modal -->
<div class="modal fade newsletter-modal" id="successModal-newsletter" tabindex="-1" aria-labelledby="successModalLabel-newsletter" aria-hidden="true">
  <div class="modal-dialog newsletter-modal-dialog">
    <div class="modal-content newsletter-modal-content">
      <div class="modal-header newsletter-modal-header">
        <h5 class="modal-title newsletter-modal-title" id="successModalLabel-newsletter">Subscription Successful</h5>
        <button type="button" class="btn-close newsletter-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body newsletter-modal-body">
        Subscription successful!
      </div>
      <div class="modal-footer newsletter-modal-footer">
        <button type="button" class="btn btn-secondary newsletter-btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- End of Newsletter Page -->
