.adminbranches-manage {
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url('/assets/adminaccountbg.png');
    background-size: cover;
    background-position: center;
    margin-left: 15vw; 
    margin-top: 10%; 
    height: 90%; 
    width: calc(100% - 15vw); 
    padding: 20px;
    font-family: Glacial Indifference, -apple-system, Roboto, Helvetica, sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow-y: auto; 
  }
  
.adminbranches-title {
    color: #0d0d0d;
    font-size: 75px;
    font-weight: 700;
}
  
.adminbranches-divider {
    border: 1px solid #0d0d0d;
    margin-bottom: 25px;
}
  
.adminbranches-content {
    width: 100%; 
    display: flex;
    gap: 20px;
}
  
.adminbranches-list {
    flex-grow: 1; 
    max-width: 30%; 
    background-color: #ededed;
    border-radius: 20px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.adminbranches-list-header{
    border-bottom: solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.branches-icon {
    width: 50px;
    height: auto;
    display: block;
    margin: 5px;
}

.adminbranches-item {
    color: #000;
    font-size: 25px;
    margin-bottom: 20px; 
    padding: 10px;
    width: 100%; 
    text-align: center;
    border-radius: 10px; 
}
  
.adminbranches-item:hover {
    background-color: #f0f0f0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.adminbranches-new-btn {
    color: #BA9731;
    font-size: 25px;
    margin-bottom: 20px; 
    padding: 10px;
    width: 100%; 
    text-align: center;
    border-radius: 10px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
  
.adminbranches-new-btn img{
    margin-right: 10px;
}
  
.adminbranches-new-btn:hover {
    background-color: #f0f0f0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
  
.adminbranches-edit-form {
    flex-grow: 2; 
    background-color: #ededed;
    border-radius: 20px;
    padding: 17px;
}
  
.adminbranches-form-header {
    border-bottom: solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.adminbranches-form-header h2 {
    color: #ba9731;
    font-size: 40px;
    font-weight: 700;
}

.adminbranches-form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
  
label {
    font-size: 25px;
    color: #000;
    flex-basis: 30%;
}
  
.adminbranches-form-input, .adminbranches-form-textarea {
    flex-grow: 1;
    border: 1px solid #cfcfcf;
    background-color: #f2f2f2;
    font-size: 16px;
    padding: 5px;
}
  
.adminbranches-form-textarea {
    height: 80px;
}

.adminbranches-btns {
    position: relative;
    display: flex;
    gap: 5px;
}
  
.adminbranches-save-btn{
    width: 85px;
    height: 33px;
    line-height: 10px;
    border-radius: 25px; 
    background-color: #D4A017; 
    color: white;
    border: none; 
    text-align: center; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    position: relative;
    margin-top: -14px;
}
  
.adminbranches-save-btn:hover {
    background-color: white;
    color: #D4A017;
}
  
.adminbranches-delete-btn {
    width: 85px;
    height: 33px;
    line-height: 10px;
    border-radius: 25px; 
    background-color: #E63946; 
    color: white; 
    border: none;
    text-align: center; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    position: relative;
    margin-top: -14px;
}
  
.adminbranches-delete-btn:hover {
    background-color: white;
    color: #E63946;
}

#imagePreview, #existingImagePreview {
    max-width: 100%;
    max-height: 200px; 
    object-fit: contain;
    display: block;
    margin-top: 10px; 
}