<!-- Footer -->

<div class="footer-parent">
    <div class="footer-logo">
        <a class = "main" href="/home"><img class="logo-img" src="/assets/me-light.png"></a>
    </div>

    <div class="footer-options">
        <a href="https://www.instagram.com/dotzerohairstudio/" target="_blank">
            <img src="/assets/instagram.svg" alt="Instagram">
        </a>
        <a href="https://www.tiktok.com/dotzerohairstudio/" target="_blank">
            <img src="/assets/tiktok.svg" alt="TikTok">
        </a>
        <a href="https://www.facebook.com/DotZeroHairStudioByMars/" target="_blank">
            <img src="/assets/facebook.svg" alt="Facebook">
        </a>
    </div>

    <div class="footer-tm">
        <p>© 2015 MARS Effect Hair Studio. All Rights Reserved.</p>
    </div>
</div>

<!-- End of Footer -->