<!-- Admin Side Bar -->

<div class="sidebar">
    <div class="side-options">
        <img src="/assets/dz-light.png" alt="Logo" class="sidebar-logo">
        <a class="main" href="/admin-branches">Branches</a>
        <a class="main" href="/admin-services">Services</a>
        <a class="main" href="/admin-promo">Promos</a>
        <a class="main" href="/admin-account">Account</a>
    </div>
    <div class="logout-option">
        <a class="main" href="/login">Log Out</a>
    </div>
</div>

<!-- End of Admin Navigation Bar -->